# Dictionary
##### Dictionary adalah tipe data yang sama persis dengann array asosiatif di php

In [2]:
# Contoh

siswa_nilai = {'Nando' : 96, 'Andi':88, 'Findi':78}

In [3]:
type(siswa_nilai)

dict

In [4]:
siswa_nilai['Nando']

96

In [5]:
siswa_nilai['Andi']

88

In [7]:
# Mneampilkan dictionary menggunakan for

for i in siswa_nilai :
    print(i)

# Hanya mengoutputkan key nya saja  , lalu bagimana cara mengoutputkan value nya juga

Nando
Andi
Findi

In [9]:
# Cara menampilkan key beserta valuenya 

for i in siswa_nilai :
    print(i,siswa_nilai[i])

Nando 96
Andi 88
Findi 78

In [10]:
# Untuk menampilkan valuenya saja

for i in siswa_nilai.values() :
    print(i)

96
88
78

In [12]:
#  Cara ke 2 untuk menampilkan key dan value , ini adalah cara yang lebih direkomendasikan

for key,value in siswa_nilai.items() :
    print (key, "->",value)

Nando -> 96
Andi -> 88
Findi -> 78

In [14]:
# Value dictionary juga bisa memuat List

nilai = {'Jaka' : [98,86,91], 'Sri':[87,95,85]}

In [16]:
nilai['Jaka']

[98, 86, 91]

In [18]:
# Cara pertama untuk mengoutputkannya
for key in nilai :
    for value in nilai[key]:
        print(key,value)

Jaka 98
Jaka 86
Jaka 91
Sri 87
Sri 95
Sri 85

In [21]:
#Cara kedua
for akey,value in nilai.items():
    for li in value :
        print(key, "->", li)

Sri -> 98
Sri -> 86
Sri -> 91
Sri -> 87
Sri -> 95
Sri -> 85

# Menambahkan anggota baru
##### Cara menambahkan anggota baru pada dictionary sangat simple, kita langsung saja mendeklarasikan diktionari[kunci] = isi

In [39]:
random = {'Nando' : [16,6,2006], '6' : 'Juni', '2006' : str(2024-2006)}

In [40]:
# Memasukkan Zovan ke diktionari
random['Zovan'] = [21,6,2007]

In [41]:
random

{'Nando': [16, 6, 2006], '6': 'Juni', '2006': '18', 'Zovan': [21, 6, 2007]}

In [42]:
random['6']

'Juni'

In [43]:
# Error
random[0]

KeyError: 0

In [44]:
# Len

len(random)
#outputnya banyak anggota

4

In [45]:
for i in random:
    print(i , "Panjang valuenya ->", len(random[i]))

Nando Panjang valuenya -> 3
6 Panjang valuenya -> 4
2006 Panjang valuenya -> 2
Zovan Panjang valuenya -> 3

In [46]:
# menghapus bagian

del random['2006']

In [48]:
random

{'Nando': [16, 6, 2006], '6': 'Juni', 'Zovan': [21, 6, 2007]}

In [49]:
del random['Zovan']

In [50]:
random

{'Nando': [16, 6, 2006], '6': 'Juni'}

# Menggunakan method GET

In [51]:
random.get('Nando')

[16, 6, 2006]

In [52]:
random.pop('6')

'Juni'

In [53]:
random

{'Nando': [16, 6, 2006]}