# List Method

In [1]:
nilai_siswa = [92,85,84,96,78,80,78,92,84,90,85,70,96,69,80,75,74,77,90,90,82,88,91,68,98,65,73]

In [2]:
nilai_siswa

[92,
 85,
 84,
 96,
 78,
 80,
 78,
 92,
 84,
 90,
 85,
 70,
 96,
 69,
 80,
 75,
 74,
 77,
 90,
 90,
 82,
 88,
 91,
 68,
 98,
 65,
 73]

# Append
##### Append berfungsi untuk menambahkan 1 nilai ke dalam list 1 nilai tersebut dapat berupa macam-macam tipe data termasuk array
##### PERLU DI INGAT : HANYA MENYISIPKAN 1 NILAI SAJA

In [4]:
nilai_siswa.append(81)

In [5]:
nilai_siswa

[92,
 85,
 84,
 96,
 78,
 80,
 78,
 92,
 84,
 90,
 85,
 70,
 96,
 69,
 80,
 75,
 74,
 77,
 90,
 90,
 82,
 88,
 91,
 68,
 98,
 65,
 73,
 81]

In [6]:
# ketika diappend maka otomatis diposisikan/ditempatkan ke paling belakang list
# Apabila kita memberikan array maka yang ditempatkan juga arraynya bukan angkanya

nilai_siswa.append([87,65,81])

In [7]:
nilai_siswa

[92,
 85,
 84,
 96,
 78,
 80,
 78,
 92,
 84,
 90,
 85,
 70,
 96,
 69,
 80,
 75,
 74,
 77,
 90,
 90,
 82,
 88,
 91,
 68,
 98,
 65,
 73,
 81,
 [87, 65, 81]]

In [8]:
# Maka solusinya adalah menggunakan method yang kedua yaitu ->

# Extend

##### Extend digunakan untuk menyisipkan lebih dari 1 data , jika yang disisipkan adalah list, maka list tersebut akan dilebur

In [9]:
nilai_siswa.extend([83,97])

In [10]:
nilai_siswa

[92,
 85,
 84,
 96,
 78,
 80,
 78,
 92,
 84,
 90,
 85,
 70,
 96,
 69,
 80,
 75,
 74,
 77,
 90,
 90,
 82,
 88,
 91,
 68,
 98,
 65,
 73,
 81,
 [87, 65, 81],
 83,
 97]

In [11]:
nilai_siswa_susulan = [76,83]

In [12]:
nilai_siswa.extend(nilai_siswa_susulan)

In [13]:
nilai_siswa

[92,
 85,
 84,
 96,
 78,
 80,
 78,
 92,
 84,
 90,
 85,
 70,
 96,
 69,
 80,
 75,
 74,
 77,
 90,
 90,
 82,
 88,
 91,
 68,
 98,
 65,
 73,
 81,
 [87, 65, 81],
 83,
 97,
 76,
 83]

# Insert
##### Insert digunakan untuk menyisipkan di indeks tertentu

In [15]:
# 2 adalah indeks yang dituju , 88 adalah nilainya, 
nilai_siswa.insert(2,88)

In [16]:
nilai_siswa

[92,
 85,
 88,
 84,
 96,
 78,
 80,
 78,
 92,
 84,
 90,
 85,
 70,
 96,
 69,
 80,
 75,
 74,
 77,
 90,
 90,
 82,
 88,
 91,
 68,
 98,
 65,
 73,
 81,
 [87, 65, 81],
 83,
 97,
 76,
 83]

In [17]:
nilai_siswa.insert(-3,74)

In [18]:
nilai_siswa

[92,
 85,
 88,
 84,
 96,
 78,
 80,
 78,
 92,
 84,
 90,
 85,
 70,
 96,
 69,
 80,
 75,
 74,
 77,
 90,
 90,
 82,
 88,
 91,
 68,
 98,
 65,
 73,
 81,
 [87, 65, 81],
 83,
 74,
 97,
 76,
 83]

# POP
##### POP digunakan untuk menghapus 1 nilai array di posisi paling belakang (default)
##### namun kita juga dapat menghapus di indeks yang spesifik

In [20]:
nilai_siswa.pop()

83

In [21]:
nilai_siswa.pop(-6)

81

In [22]:
nilai_siswa.pop(0)

92

In [25]:
nilai_siswa = nilai_siswa[::3]

In [26]:
nilai_siswa

[85, 96, 78, 90, 96, 75, 90, 88, 98, [87, 65, 81], 97]

In [27]:
nilai_siswa.pop(-2)

[87, 65, 81]

In [28]:
nilai_siswa

[85, 96, 78, 90, 96, 75, 90, 88, 98, 97]

# Remove
##### Remove digunakan untuk menghapus 1 anggota list berdasarkan value yang spesifik

In [29]:
# Saya ingin menghapus anggota yang memiliki nilai 90
nilai_siswa.remove(90)
# Maka yang dihapus adalah nilai 90 dengan indeks terkecil

In [30]:
nilai_siswa

[85, 96, 78, 96, 75, 90, 88, 98, 97]

In [31]:
nilai_siswa.remove(90)

In [32]:
nilai_siswa

[85, 96, 78, 96, 75, 88, 98, 97]