In [1]:
# Perhatikan Penggunaan Map dibawah ini

x = [1,2,3,4,5,6,7,8]

def square (x) :
    return x*x

In [6]:
# Saya ingin membuat setiap anggota list x dipangkatkan menggunakan fungsi square
# Alih-alih menggunakan pengulangan untuk setiap elemen, kita lebih baik menggunakan map

result = map(square,x)
#map (fungsi, array)

In [7]:
result

In [8]:
type(result)

map

In [5]:
# Map sebenarnya berisi kode unik, sehingga kita harus mengcastingnya ke bentuk list
list(result)

[]

In [9]:
nama = ("NandO", "AbdI l l ah", "  S a lam", "   bIn ", "N  u r Hu da")

In [41]:
def rewrite (txt) :
    txt = txt.replace(" ","")
    txt = txt.lower()
    return txt

In [42]:
rewrite(" v s sjf eko")

'vssjfeko'

In [43]:
# Menggunakan Map

rewriteNama = map(rewrite,nama)

In [44]:
rewriteNama

In [45]:
tuple(rewriteNama)

('nando', 'abdillah', 'salam', 'bin', 'nurhuda')

In [49]:
# Menjumlahkan 2 list menggunakan Map

def rata_rata (x,y) :
    return (x+y)/2

In [50]:
rata_rata(3,2)

2.5

In [51]:
#Hitunglah rata-rata dari list dibawah ini
#Kolom = rpl, mtk, ing

Andi = [87,77,98]
Gofar = [92, 88, 65]

rata2siswa = map(rata_rata,Andi,Gofar)

In [52]:
list(rata2siswa)

[89.5, 82.5, 81.5]

In [53]:
# Menggunakan Lambda

ganjil_genap = lambda x : "Genap" if x%2 ==0 else "Ganjil"

In [54]:
num = [34,33,78,90,42]
hasil = map(ganjil_genap,num)

In [55]:
hasil

In [56]:
list(hasil)

['Genap', 'Ganjil', 'Genap', 'Genap', 'Genap']