# Berikut ini Contoh penggunaan nested dictionary

In [19]:
data = {
    'Nando' : {
        'RPL' : 92,
        'MTK' : 91,
        'ENG' : 90
    },
    'Rayan' : {
        'RPL' : 90,
        'MTK' : 95,
        'ENG' : 89
    },
    'Devano' : {
        'RPL' : 97,
        'MTK' : 88,
        'ENG' : 96
    }
}

In [2]:
data

{'Nando': {'RPL': 92, 'MTK': 91, 'ENG': 90},
 'Rayan': {'RPL': 90, 'MTK': 95, 'ENG': 89},
 'Devano': {'RPL': 89, 'MTK': 88, 'ENG': 96}}

In [3]:
# Contoh pemanggilannya
data['Nando']

{'RPL': 92, 'MTK': 91, 'ENG': 90}

In [4]:
data['Devano']['MTK']

88

In [5]:
# Dengan for

for i in data :
    print(i)

Nando
Rayan
Devano

In [11]:
for i in data :
    print(i, data[i])

Nando {'RPL': 92, 'MTK': 91, 'ENG': 90}
Rayan {'RPL': 90, 'MTK': 95, 'ENG': 89}
Devano {'RPL': 89, 'MTK': 88, 'ENG': 96}

In [12]:
for i in data :
    print(f"{i} mendapatkan nilai {data[i]['MTK']} dalam PAS Matematika")

Nando mendapatkan nilai 91 dalam PAS Matematika
Rayan mendapatkan nilai 95 dalam PAS Matematika
Devano mendapatkan nilai 88 dalam PAS Matematika

In [7]:
# MengEkspor data ke mapel

mapel = [] #Data kosong

for i in data['Nando'] :
    mapel.append(i)

In [8]:
mapel

['RPL', 'MTK', 'ENG']

In [20]:
# Contoh mrnyaring nilai tertinggi permapel dengan mengekspor nilai ke list

nama = ['Nando','Rayan','Devano']
for i in mapel :
    nilai = [] # List kosong
    for j in data :
        
        nilai.append(data[j][i])
        # print(data[j][i])
    print(f"Nilai {i} tertinggi {max(nilai)} diraih oleh {nama[nilai.index(max(nilai))]} ")

Nilai RPL tertinggi 97 diraih oleh Devano
Nilai MTK tertinggi 95 diraih oleh Rayan
Nilai ENG tertinggi 96 diraih oleh Devano