# Perulangan For
##### Di dalam python nanti ada 2 perulangan yaitu for dan while, dibawah ini perbedaannya
##### For -> Variabel i otomatis dibuat dan memliki range/jangkauan loop  range(angka mulai, angka kurang dari mulai) variabel i otomatis increment
##### While -> variabel, logika, counter harus dibuat sendiri 
##### Untuk contoh dari for lihat dibawah ini

In [26]:
# Contoh for sederhana
for i in range(0,5) : #indeks i = 0 , i harus kurang dari 5, dan i di increment sampai kuang dari 5
    print(i)

0
1
2
3
4

In [27]:
# Ketika nilai awal tidak di definisikan python otomatis menganggap i adalah 0
for i in range (3):
    print(i)

0
1
2

### Contoh penggunaan For untuk menghitung Faktorial

In [30]:
# Contoh
# 5! = 5*4*3*2*1
faktorial = 1
for i in range (1,6) : # karena faktorial tidak boleh dikali 0 dan kurang dari 6 
    faktorial *= i
print(faktorial)

120

In [31]:
# Menggunakan User input

num = int(input("Masukkan bilangan bulat : "))
faktorial = 1
for i in range (1,num+1) :
    faktorial *= i
    print(i)

print(faktorial)

Masukkan bilangan bulat :  6

1
2
3
4
5
6
720

### Contoh penggunaan For di List
###### Penggunaan for di list bertujuan untuk menampilkan anggota list

In [32]:
# Perhatikan cara mengeluarkan anggota list dibawah ini 

siswa = ['Nando','Kevin','Dita','Nisa','Wildan']

for i in siswa :
    print(i) # tidak perlu mendeclare siswa[i]

Nando
Kevin
Dita
Nisa
Wildan

In [33]:
# Cara ke 2 

for i in range(len(siswa)) : #menggunakan panjang list siswa
    print(siswa[i]) # wajib menulis seperti ini untuk menampikannya

Nando
Kevin
Dita
Nisa
Wildan

In [34]:
for i in range(2,len(siswa)) : 
    print(siswa[i])

Dita
Nisa
Wildan

In [41]:
siswa[::-1]

['Wildan', 'Nisa', 'Dita', 'Kevin', 'Nando']

In [42]:
siswa = siswa[::-1]

In [43]:
siswa

['Wildan', 'Nisa', 'Dita', 'Kevin', 'Nando']

In [49]:
for i in range(2,len(siswa)) : 
    print(siswa[i])

Dita
Kevin
Nando