# User Input

In [1]:
# After make input click shift+enter

In [2]:
input()

 17

'17'

In [3]:
# Membuat Input dengan perintah

In [4]:
input("Masukkan umur anda : ")

Masukkan umur anda :  25

'25'

In [5]:
# Membuat Input dan memasukkannya ke sebuah variabel

In [7]:
nama = input("Masukkan nama anda : ")

Masukkan nama anda :  Nando

In [8]:
nama

'Nando'

In [9]:
type(nama)

str

In [10]:
umur = input("Masukkan umur anda : ")

Masukkan umur anda :  22

In [11]:
umur

'22'

In [12]:
# Disini kita tahu bahwa setiap value yang kita inputkan secara default dikenal python sebagai string

In [13]:
type(umur)

str

In [14]:
# Jika anda ingin inputan user dengan tipe data yang anda inginkan, maka buatlah seperti di bawah ini

In [15]:
umur = int(input("Masukkan umur anda : "))

Masukkan umur anda :  18

In [ ]:
#jika user menginput selain int -> string maka akan terjadi error

In [16]:
umur

18

In [17]:
type(umur)

int

# Print Formatting

In [18]:
print(umur)

18

In [ ]:
# cara menampilkan sebuah string dan variabel yang berisi integer umur

In [21]:
print("Sekarang umur anda adalah ",umur," tahun")

Sekarang umur anda adalah  18  tahun

In [22]:
# Skenario
# 1. Andi harus menginputkan umurnya dalam bentuk integer
# 2. Kakak andi lahir pada tahun 1996
# 3. Sekarang tahun 2024

# Output yang diharapkan
# "Sekarang tahun 2024, Andi berusia ... tahun sedangkan kakaknya berusia ... tahun, Kakaknya ... tahun lebih tua dari Andi yang lahir di tahun ..."

In [23]:
umurAndi = int(input("Andi:: Masukkan umur kamu :"))

Andi:: Masukkan umur kamu : 18

In [24]:
umurAndi

18

In [25]:
print("Sekarang tahun 2024, Andi berusia ", umurAndi," tahun sedangkan kakaknya berusia ",2024-1996," tahun, kakaknya ", 2024-1996-umurAndi, "tahun lebih tua dari Andi yang lahir di tahun ",2024-umurAndi)

Sekarang tahun 2024, Andi berusia  18  tahun sedangkan kakaknya berusia  28  tahun, kakaknya  10 tahun lebih tua dari Andi yang lahir di tahun  2006

In [26]:
# Namun ada 2 cara lain agar penulisan string dan variabel lebih mudah/efisien

In [27]:
umurKakak = 2024-1996

In [28]:
tahunLahirAndi = 2024-umurAndi

In [29]:
selisih = umurKakak-umurAndi

In [30]:
print("Sekarang tahun 2024, Andi berusia {a} tahun sedangkan kakaknya berusia {b} tahun, kakaknya {c} tahun lebih tua dari Andi yang lahir di tahun {d}".format(a=umurAndi,b=umurKakak,c=selisih,d=tahunLahirAndi))

Sekarang tahun 2024, Andi berusia 18 tahun sedangkan kakaknya berusia 28 tahun, kakaknya 10 tahun lebih tua dari Andi yang lahir di tahun 2006

In [31]:
#formatnya
# print("Nama {a} , Umur {b}".format(a=namaUser, b=umurUser))
# namaUser dan umurUser berasal dari variabel yang sudah di deklarasikan

In [33]:
# Di bawah ini ada cara yang lebih sederhana lagi
# print(f"Nama {namaUser} , umur {umurUser})
# kita tidak memerlukan penformarmatan secara manual lagi, sehingga python akan langsung mencari nama variabel yang dimaksud

In [32]:
print(f"Sekarang tahun 2024, Andi berusia {umurAndi} tahun sedangkan kakaknya berusia {umurKakak} tahun, kakaknya {selisih} tahun lebih tua dari Andi yang lahir di tahun {tahunLahirAndi}")

Sekarang tahun 2024, Andi berusia 18 tahun sedangkan kakaknya berusia 28 tahun, kakaknya 10 tahun lebih tua dari Andi yang lahir di tahun 2006

In [35]:
#Cara lainnya yang bisa digunakan
# 1. print("Nama {0}, Umur {1}".format(namaUser,umurUser))
# 2. print("Nama {}, Umur {}".formar(namaUser,umurUser))